<mat-tab-group class="container">
    <mat-tab>
        <ng-template mat-tab-label>
          Dash Panel &nbsp; <mat-icon>dashboard</mat-icon>
        </ng-template>
        <app-dashpanel></app-dashpanel>
      </mat-tab>   
    <mat-tab>
      <ng-template mat-tab-label>
        Templates &nbsp; <mat-icon>filter_frames</mat-icon>
      </ng-template>
      <app-template></app-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Flights &nbsp; <mat-icon>flight</mat-icon>
      </ng-template>      
      <app-flights></app-flights>
    </mat-tab>
       
</mat-tab-group>
