.card-group {
    overflow: auto;
    height: 38em;
    min-width: 20em;
}

.group-item {
    cursor: pointer;    
    &:hover{
        outline: 1px solid #F26F1F;
    }
    margin-bottom: 1px;
}
.w100 {
    width: 100%;
}