<h2 mat-dialog-title>Add Template Modal</h2>
<mat-dialog-content>  
  <div class="w100 mb1">
      <button	mat-flat-button> Template 1 </button>      
  </div>
  <div class="w100 mb1">
      <button	mat-flat-button> Template 2 </button>      
  </div>
  <div class="w100 mb1">
      <button	mat-flat-button> Template 3 </button>      
  </div>
  
</mat-dialog-content>
<mat-dialog-actions>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">OK</button>

  <button mat-button mat-dialog-close>Cancel</button>  
</mat-dialog-actions>