<!-- <mat-grid-list cols="2" rowHeight="2:1.32">
    <mat-grid-tile>
        <mat-card class="w100">
            <mat-card-header>
                <mat-card-title>Dash Panel</mat-card-title>
            </mat-card-header>                  
            <mat-card-content>	
                <div class="w100 pd2">
                  <div class="mb2">
                      <button mat-flat-button class="w-100">Location Status</button>              
                  </div>
                  <div class="mb2">
                      <button mat-flat-button class="w-100">Location Scenario</button>
                  </div>
                  <div>
                      <button mat-flat-button class="w-100">Scenario Steps</button>
                  </div>
                </div>
            </mat-card-content>                  
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->

<div fxLayout="row" fxLayout.xs="column" class="container">
  <div fxFlex="50%" class="mr3">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Dash Panel</mat-card-title>
        </mat-card-header>                  
        <mat-card-content>	
            <div class="w100 pd2">
              <div class="mb2">
                  <button mat-flat-button class="w-100">Location Status</button>              
              </div>
              <div class="mb2">
                  <button mat-flat-button class="w-100">Location Scenario</button>
              </div>
              <div>
                  <button mat-flat-button class="w-100">Scenario Steps</button>
              </div>
            </div>
        </mat-card-content>                  
    </mat-card>
  </div>
  <div fxFlex="50%">
    <mat-card class="box">
      <mat-card-header>
          <mat-card-title>Preview</mat-card-title>
      </mat-card-header>                  
      <mat-card-content>	
          <div class="w100 pd2">
              
          </div>
      </mat-card-content>                  
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column" class="container nopad">
    <div fxFlex="50%" class="mr3">
      <mat-card class="box">
          <mat-card-header>
              <mat-card-title>Location Values</mat-card-title>
          </mat-card-header>                  
          <mat-card-content>	
              <div class="w100 pd2">
                    <mat-form-field>
                        <input matInput placeholder="Field 1">
                    </mat-form-field>
              </div>
          </mat-card-content>                  
      </mat-card>
    </div>
    <div fxFlex="50%">
      <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Current Flights</mat-card-title>
        </mat-card-header>                  
        <mat-card-content>	
            <div class="w100 pd2">
                
            </div>
        </mat-card-content>                  
      </mat-card>
    </div>
  </div>